<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link <%= currentPage === 'dashboard' ? 'active' : '' %>" href="/subject/item/<%= subjects._id %>">
            <i class='bx bxs-dashboard'></i> แดชบอร์ด
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= currentPage === 'task_list' ? 'active' : '' %>" href="/subject/item/<%= subjects._id %>/task_list">
            <i class='bx bx-list-ul' ></i> ลิสต์
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= currentPage === 'board' ? 'active' : '' %>" href="/subject/item/<%= subjects._id %>/task_board">
            <i class='bx bxs-dashboard' ></i> บอร์ด
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= currentPage === 'notes' ? 'active' : '' %>" href="/subject/item/<%= subjects._id %>/task_notes">
            <i class='bx bxs-cog' ></i> โน้ต
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= currentPage === 'task_board' ? 'active' : '' %>" href="#">
            <i class='bx bxs-cog' ></i> การตั้งค่า
        </a>
    </li>
</ul>
