<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.25.0/date-fns.min.js"></script>
    <link rel="stylesheet" href="/css/taskCss/task-dashboard.css">
</head>

<div class="contant">
    <h1 class="SubName"><%= subjects.SubName %></h1>
    <%- include('../partials/task-navbar.ejs') %>

    <div class="task-content">
        <div class="right-bar">
            <div class="shortcut">
                <h1>ทางลัด</h1>
                <div class="short-link">
                    <a href="#" class="link" id="new-task-btn"><i class='bx bx-task'></i>งานใหม่</a>
                    <a href="#" class="link"><i class='bx bx-note'></i>โน็ตใหม่</a>
                </div>
            </div>

            <div class="shortcut">
                <h1>ลิงค์ทางลัด</h1>
                <div class="short-link">
                    <a href="#" class="link" id="new-task-btn"><i class='bx bx-task'></i>งานใหม่</a>
                    <a href="#" class="link"><i class='bx bx-note'></i>ลิงค์ 1</a>
                </div>
            </div>
        </div>
        <div class="dashboard">
            <div class="top-info">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-task'></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">งานทั้งหมด</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">
                                                <%= tasks.length %> <span>งาน</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-check' style="background-color: #9BCF53;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">งานที่เสร็จสิ้น</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">5 <span>งาน</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-time-five' style="background-color: #E89271;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">เวลาในการทำงาน</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">3 <span>ชม</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class='bx bx-task' style="background-color: #70A1E5;"></i>
                                        </div>
                                    </div>
                                    <h6 class="card-text">ว่างงง</h6>
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0">100 <span>ว่าง</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-table">
                <div class="donut">
                    <h1>ชาร์ตแสดงปริมาณงาน</h1>
                    <canvas id="myDonutChart" width="300" height="350"></canvas>
                </div>
                <div class="task-table">
                    <h1>ตารางงาน</h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ชื่องาน</th>
                                    <th>ผู้รับมอบหมาย</th>
                                    <th>วันครบกำหนด</th>
                                    <th>สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=taskNames.length - 1; i>= 0; i--) { %>
                                    <tr>
                                        <td>
                                            <%= taskNames[i] %>
                                        </td>
                                        <td> <img src="<%= userImage %>">
                                            <%= userName %>
                                        </td>
                                        <td>
                                            <%= dueDate[i] %>
                                        </td>
                                        <td>
                                            <%= taskStatuses[i] %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../task/task_component/dashboard_addPopup.ejs') %>

<script src="/script/chart.js"></script>