<head>
    <link rel="stylesheet" href="/css/taskCss/task-member.css">
    <style>
        .content {
            background-color: white;
            margin: 20px 20px 20px 130px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    </style>
</head>

<div class="content">
    <h1 class="SubName">
        <%= spaces.SpaceName %>
    </h1>
    <%- include('../task/task_component/task-navbar.ejs') %>

    <div class="add-member-container">
        <h2>จัดการสมาชิก</h2>

        <!-- Select for adding members -->
        <div class="search-member">
            <select id="userSelect">
                <option value="" id="select-item">เลือกสมาชิก</option>
                <!-- Users will be populated here -->
            </select>

            <div class="nav-item dropdown roleSelect">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    บทบาท
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="item">
                        <a class="dropdown-item" href="#" data-priority="admin">
                        แอดมิน 
                            <div class="mem_dis">
                                มีสิทธิ์ในการดูแลและจัดการพื้นที่ สร้าง/ลบ/แก้ไขงาน สามารถกำหนดบทบาท กำหนดค่าการตั้งค่า
                            </div>
                        </a>
                    </li>

                    <li class="item">
                        <a class="dropdown-item" href="#" data-priority="member">
                        สมาชิก 
                            <div class="mem_dis">
                                สามารถสร้าง,ลบ,แก้ไข และจัดการงานได้ แต่มีสิทธิ์น้อยกว่าแอดมิน
                            </div>
                        </a>
                    </li>

                    <li class="item">
                        <a class="dropdown-item" href="#" data-priority="guest">
                        แขก 
                            <div class="mem_dis">
                                มีสิทธิ์เข้าถึงจำกัด สามารถดูงานบางอย่างเฉพาะได้แต่จะไม่มีสิทธิ์เข้าถึงหรือควบคุมในระดับเดียวกับสมาชิก
                            </div>
                        </a>
                    </li>
                </ul>
              </div>

            <button id="addMemberBtn" onclick="addMember()">เพิ่มสมาชิก</button>
        </div>

        <!-- Member List Table -->
         <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>ชื่อ</th>
                        <th>อีเมล์</th>
                        <th>บทบาท</th>
                        <th>เข้าใช้ล่าสุด</th>
                        <th>ลบ</th>
                    </tr>
                </thead>
                <tbody id="memberList">
                    <% if (spaces.members && spaces.members.length) { %>
                        <% spaces.members.forEach(member => { %>
                            <tr>
                                <td data-label="ชื่อ">
                                    <img src="<%= member.profileImage %>" alt="Profile Picture"> <%= member.username %>
                                </td>
                                <td data-label="อีเมล์"><%= member.email %></td>
                                <td data-label="บทบาท">
                                    <select onchange="updateMemberRole('<%= member._id %>', this.value)">
                                        <option value="owner" <%= member.role === 'owner' ? 'selected' : '' %>>Owner</option>
                                        <option value="admin" <%= member.role === 'admin' ? 'selected' : '' %>>Admin</option>
                                        <option value="member" <%= member.role === 'member' ? 'selected' : '' %>>Member</option>
                                        <option value="guest" <%= member.role === 'guest' ? 'selected' : '' %>>Guest</option>
                                    </select>
                                </td>
                                <td data-label="เข้าใช้ล่าสุด"><%= member.lastUsed %></td>
                                <td data-label="ลบ"><button onclick="removeMember('<%= member._id %>')">Remove</button></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr >
                            <td class="no-members" colspan="5">ยังไม่มีสมาชิกภายในพื้นที่นี้</td>

                        </tr>
                    <% } %>
                </tbody>
            </table>
            
    </div>
    </div>
</div>

<script src="/script/taskScript/task-member.js"></script>

