<div class="container mt-5">
    <h1>Friends of <%= userName %></h1>
    <div class="row">
        <% if (friends.length > 0) { %>
            <% friends.forEach(friend => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="<%= friend.profileImage %>" class="card-img-top" alt="<%= friend.firstName %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= friend.firstName %> <%= friend.lastName %></h5>
                            <form action="/deleteFriend/<%= friend._id %>" method="POST">
                                <button type="submit" class="btn btn-danger">Delete Friend</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    No friends yet. <a href="/allUsers" class="alert-link">Add friends now</a>.
                </div>
            </div>
        <% } %>
    </div>
    <a href="/allUsers" class="alert-link">Add friends now</a>.
</div>