<head>
    <link rel="stylesheet" href="/css/subjectCss/subject.css">
</head>

<div class="contant">
    <div class="row head">
        <div class="col">
          <h1 style="font-weight: 600; font-size: 30px;">รายวิชาทั้งหมด</h1>
        </div>
        <div class="col text-end">
            <a href="/subject/recover" class="add-btn btn" id="recover-btn" style="margin-right: 20px;">
                <i class='bx bx-revision'></i> กู้คืนวิชา
            </a>
            <a href="#" class="add-btn btn" id="new-task-btn">+ เพิ่มรายวิชาใหม่</a>
        </div>
    </div>
    <div class="row sub_all">
        <% for(var i=subjects.length - 1; i>= 0; i--) { %>
            <div class="col-sm-6 mb-4">
                <div class="card" style="min-height: 210px">
                    <a href="/subject/item/<%= subjects[i]._id %>" class="card-body text-decoration-none">
                        <div class="theme"></div>
                        <dic class="text">
                            <h5 class="card-title">วิชา: <%= subjects[i].SubName %>
                            </h5>
                            <p class="card-text" style="opacity: 0.6;">
                                <%= subjects[i].SubDescription ? subjects[i].SubDescription : "วิชานี้คือวิชา " + subjects[i].SubName + " ถูกสร้างเมื่อ " + subjects[i].createdAt %>
                            </p>
                        </dic>
                    </a>
                    <div class="icon">
                        <p class="card-infotext">จำนวนงานทั้งหมด <span id="task-lenght">
                                <%= subjects[i].taskCount %>
                            </span> งาน</p>
                            <i class='bx bx-trash-alt delete-alter-btn' data-subject-id="<%= subjects[i]._id %>"></i>
                        </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include('../subject/subject_componant/add-popup.ejs', { users: users }) %>
<%- include('../subject/subject_componant/delete-alter.ejs') %>

<script src="/script/nav_menu.js"></script>
<script src="/script/popup.js"></script>