<head>
    <link rel="stylesheet" href="/css/subjectCss/subject.css">
</head>

<div class="contant">
    <div class="row head">
        <div class="col">
          <h1 style="font-weight: 500; color: #707070;">รายวิชาทั้งหมด</h1>
        </div>
        <div class="col text-end">
          <a href="#" class="add-btn btn-primary btn">+ เพิ่มรายวิชาใหม่</a>
        </div>
    </div>
    <div class="row sub_all">
        <% for(var i=0; i < subjects.length; i++) { %>
            <div class="col-sm-6 mb-4">
                <div class="card" style="min-height: 210px">
                    <div class="theme"><img src="img/book-background.jpeg" alt=""></div>
                    <a href="/subject/item/<%= subjects[i]._id %>" class="card-body text-decoration-none">
                        <h5 class="card-title">วิชา: <%= subjects[i].SubName %></h5>
                        <p class="card-text"><%= subjects[i].SubDescription %></p>
                    </a>
                    <div class="icon">
                        <i class='bx bx-star' ></i>
                        <form action="/deleteSubject/<%= subjects[i]._id %>" method="POST" onsubmit="displayConfirmation()">
                            <button type="submit" class="delete-btn">
                                <i class='bx bx-trash-alt'></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <%  } %>
    </div>
</div>

<%- include('../subject/subject_componant/add-popup.ejs') %>
<script src="/script/nav_menu.js"></script>
<script src="/script/popup.js"></script>